<div class="w3-row">
  <div class="w3-container {{setTheme}}">
    <h2>{{header}}</h2>
  </div>

  <form class="">

    <label class="w3-label">Username</label>
      <input class="w3-input" type="text" ng-model="user.username">

    <label class="w3-label">Password</label>
      <input class="w3-input" type="password" ng-model="user.password">
    <div class="w3-col m10 w3-container"></div>
    <div class="w3-col m2 w3-container">
      <p><button class="w3-btn {{setTheme}}" style="width:200px; margin-right:0px;" ng-click="login(user)">Submit</button></p>
    </div>
  </form>

  <div class="w3-col m12 w3-container {{setTheme}}" style="height:40px;">
    <center><quote>{{footer}}</quote></center>
  </div>
</div>
